.wrapper {
    background: black;
    padding : 1rem;
    color : white;
    font-size: 2rem;
    &.inverted {
        .inverted {
            color : black;
            background: white;
            border: 1px black solid;
        }
    }
}

:global {
    .something {
        font-weight: 800;
        color: aqua;
    }
}

